<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse justify-content-end m-3 navbar-collapse" id="navbarSupportedContent">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="routeTo(null)">Add new</button>
  </div>
</nav>
<table class="table">
  <thead>
  <tr>
    <th scope="col">SI.NO</th>
    <th scope="col">Emp Id</th>
    <th scope="col">Employee Name</th>
    <th scope="col">Department</th>
    <th scope="col">No. Of Leave</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let holiday of holidays; let i= index" (click)="routeTo(holiday)">
    <th scope="row">{{i + 1}}</th>
    <td>{{holiday?.employeeId}}</td>
    <td>{{holiday?.employeeName}}</td>
    <td>{{holiday?.department}}</td>
    <td>{{holiday?.noOfLeave}}</td>
  </tr>
  </tbody>
</table>

